<!--
<head>                                                                  
<style>
tr.col_type_options { display: none; }                                    
</style>                                                                
</head> 
-->

<script>                                                            
    $(document).ready(function(){                                   
         $('[data-toggle="tooltip"]').tooltip({                     
             placement : 'top'                                      
         });                                                        
    });                                                             
    function autofill(){                                            
        document.getElementById("stories").value="8";           
        document.getElementById("dep_of_foun").value="6";          
        document.getElementById("plinth_lev").value="4";       
        document.getElementById("cclear_height").value="8@10";          
        document.getElementById("dep_slab").value="1";                 
        document.getElementById("rep_span_len").value="6@8";           
        document.getElementById("rep_span_wid").value="5@8";          
        document.getElementById("col_type").value="0";       
        document.getElementById("len_col").value="1";          
        document.getElementById("wid_col").value="1";   
        document.getElementById("radius_col").value="1";       
        document.getElementById("dep_beam").value="1";          
        document.getElementById("wid_beam").value="1";                   
    } 
</script> 

<h1 style="text-align:center;">Enter the specification fo the building</h1>
<center>
<form action="{% url 'specs' %}" method="POST">
    {% csrf_token %} 
    <table>
        <tr>
            <td> Stories </td>
            <td> <input type="number" name="stories" id="stories"></td>
        </tr>
        <tr>
            <td> Depth of foudation </td>
            <td> <input type="number" name="dep_of_foun" step="any" min="0" max="100" id="dep_of_foun"> </td>
        </tr>
        <tr>
            <td> Plinth level </td>
            <td> <input type="number" name="plinth_lev" step="any" min="0" max="100" id="plinth_lev"> </td>
        </tr>
        <tr>
            <td>Clear height</td>
            <td> <input type="text" name="cclear_height" id="cclear_height"> </td>
        </tr>
        <tr>
            <td> Depth of slab </td>
            <td> <input type="number" name="dep_slab" step="any" min="0" max="100" id="dep_slab"> </td>
        </tr>
        <tr> 
            <td> Representation of span length  </td>
            <td> <input type="text" name="rep_span_len" id="rep_span_len"></td>
        </tr>
        <tr>
            <td> Representation of span width </td>
            <td> <input type="text" name="rep_span_wid" id="rep_span_wid"> </td>
        </tr>

        <tr>                                                            
            <td> Column type </td>                     
            <td> <input type="number" name="col_type" id="col_type"> </td>         
        </tr> 


<!--        <tr>
            <td>Column type</td>
            <td><select name="col_type" id="col_type">
                    <option value="0"> Cylinder </option>
                    <option value="1"> Rectangle </option>
                </select>
        </tr>
-->
<!--        <tr value="1" id="col_type_1" class="col_type_options" >
            <td> Length</td>
            <td> <input type="number" name="len_col" > </td>
            <td> Width </td>
            <td> <input type="number" name="wid_col" > </td>
        </tr>-->

        <tr value="1" id="col_type_1" class="col_type_options" >        
            <td> Length</td>                                            
            <td> <input type="number" name="len_col" step="any" min="0" max="100" id="len_col"> </td>            
        </tr>
        <tr>
            <td> Width </td>                                            
            <td> <input type="number" name="wid_col" step="any" min="0" max="100" id="wid_col"> </td>            
        </tr> 
       
        <tr value="0" id="col_type_0" class="col_type_options">         
            <td>Radius of column</td>                                   
            <td> <input type="number" name="radius_col" step="any" min="0" max="100" id="radius_col" > </td>           
        </tr>

        <tr> 
            <td> Depth of beam  </td>
            <td> <input type="number" name="dep_beam" step="any" min="0" max="100"  id="dep_beam"> </td>
        </tr>
        <tr>
            <td> Width of beam </td>
            <td> <input type="number" name="wid_beam" step="any" min="0" max="100" id="wid_beam"> </td>
        </tr>
        <tr>
            <td><a href="#"  id="autofill" onclick="autofill()">Autofill values</a></td>
            <td> <input type="submit" value="submit" id="submit"> </td>
        </tr>
    </table>
</form>
</center>
<!--
<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

<script>

$(document).ready(function(){

    $('#col_type').on('change', function() {         
      $('tr.col_type_options').hide();
        $('#col_type_' + $(this).val() ).show();
    });

});
</script>-->
