h1{
  text-align: center;
}

.navbar{
  background-color: #ff0000;
}

body{
  background-color: #FDFBFB;
}

#brand{
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 150%;
}

#links a{
  color:#F7F2F2;
  font-size: 120%;
  text-decoration: bold;
}

#links a:hover{
  background-color: black;
}
#form{
  display: block;
}

#field{
  margin-left: 20px;
  margin-right: 20px;
}

label{
  margin-right: 10px;
  font-size: 120%;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.form-control{
  width: 350px;
}

#autofill{
  display: block;
/*  width: 172px;
  height: auto;*/
  text-decoration: none;
  color: #FDFBFB;

}

#autofill:hover{
  color: #ff0000;
}

.btns{
  width: 172px;
  height: 35px;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  color: #FDFBFB;
  text-align: center;
  border-radius: 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.btns:hover{
  background-color: #FDFBFB;
  color: #ff0000;
}
